@charset "UTF-8";

body {
   margin: 0;
   width: 100%;
   height: 1000px;
   /*내용 추가되면 height는 100%로 변경*/
   line-height: 1.43;
   background-color: #241f21;
}

div {
   display: block;
}

input {
   border: none;
   width: 378px;
}

a {
	color: #FFFFFF;
   font-size: 14px;
   font-weight: normal;
   text-decoration: none;
}

#row {
	flex-direction: row;
	display: flex;
	
}



/* HEADER */




/* MAIN */
main {
   width: 100%;
   max-width: 100vw;
}

/* SECTION */
@media only screen and (min-width: 1200px) {
   .container {
      width: 980px;
   }
}


.tech_stack_name{
	font-size: 16px;
}